<h1 class="text-center mb-4">Welcome to my todolist app</h1>
<%= render 'layouts/task_form'  %>

<div class="container">
  <ul>
  <% @categories.each do  |category|%>
  <li id="<%= category.title %>"><%= category.title  %></li>
  <div class="card">
    <ul id="cat">
      <% category.tasks.each do |task|  %>
      <li id="tit" >
        <%= task.title  %>
        <% unless task.deadline.nil? %>
          , to read: <%= task.deadline.strftime('%D')  %>
          <%= button_to task_path(task), class:"btn btn-danger", method:"delete", remote: true do%> <p class="fas fa-trash-alt">Delete</p>
        <% end %>

        <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <% end %>
  </ul>
</div>

<div class="container">
  <div class="row">
    <% @tasks.each do |task|  %>
      <div class="card col-3">
        <% unless task.image.nil? %>
          <%= image_tag task.image, class: "rounded-circle" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
